body {
  margin: auto;
  background-color: #DECCC4;
  font-family: Verdana;
  max-width: 980px;
  display: block;
  padding: 50px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

#img-caption {
  text-align: center;
  width: 100%;
}

#img-div {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 1000px) {

  body {
    display: block;
    max-width: 100%;
  }

}