body {
  margin: auto;
  background-color: #DECCC4;
  font-family: Verdana;
  max-width: 50%;
  display: block;
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  body {
    margin: 50px;
    display: block;
    max-width: 100%;
  }
}

h1 {
  text-align: center;
  font-size: 40px;
}

#img-caption {
  text-align: center;
  width: 100%;
}

#img-div {
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}